<body>
<p>
Here at Noah's IceCream Parlor we use the best organic ingredients,
and make our icecream from scratch in our kitchen every morning
because we know the best icecream is allways homeade
</p>
</body>
		