
<html>
  <head>
    <script type='text/javascript' src='/scripts/script.js'></script>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


  </head>

<body style="background-color:#BBFFFF">
<nav>
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/flavors">Flavors</a>
			<ul>
				<% @flavors.each do |flavor| %>
      			<a href="flavors/<%= flavor.id %>"><%= flavor.name %></a> 
    			<% end %>
    		</ul>
		</li>
		<li>
			<a href="/toppings">Toppings</a>
		</li>
		<li>
			<a href="/orders/new">Order</a>
		</li>
	</nav>
		
			
			
			
			
  <%= yield %>
</body>

</html>