
<html>
  <head>
    <script type='text/javascript' src='/scripts/script.js'></script>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


  </head>

<body style="background-color:#BBFFFF">
<h1>NOAH'S ICECREAM PARLOR</h1>
</br>
<img src="http://epicclipart.com/1024/clip-art-of-a-strong-ice-cream-cone-mascot-cartoon-character-flexing-his-arm-muscles-by-toons4biz-233.jpg" />
<img src="http://imageenvision.com/450/25838-clip-art-graphic-of-a-strawberry-ice-cream-cone-cartoon-character-wearing-a-birthday-party-hat-by-toons4biz.jpg" />
<img src="http://inourishment.com/1024/clipart-of-a-grinning-ice-cream-cone-mascot-cartoon-character-waving-and-pointing-by-toons4biz-954.jpg" />
<img src="http://images.clipartof.com/Clipart-Picture-Of-An-Ice-Cream-Cone-Mascot-Cartoon-Character-With-Welcoming-Open-Arms-10249449.jpg" />
<img src="http://imageenvision.com/450/25828-clip-art-graphic-of-a-strawberry-ice-cream-cone-cartoon-character-peeking-around-a-corner-by-toons4biz.jpg" />
<img src="http://imageenvision.com/450/25820-clip-art-graphic-of-a-strawberry-ice-cream-cone-cartoon-character-roller-blading-on-inline-skates-by-toons4biz.jpg" />
<img src="http://imageenvision.com/450/25842-clip-art-graphic-of-a-strawberry-ice-cream-cone-cartoon-character-plugging-his-nose-while-jumping-into-water-by-toons4biz.jpg" />
<img src="http://imageenvision.com/450/25859-clip-art-graphic-of-a-strawberry-ice-cream-cone-cartoon-character-kicking-a-soccer-ball-by-toons4biz.jpg" />
<img src="http://imageenvision.com/450/25827-clip-art-graphic-of-a-strawberry-ice-cream-cone-cartoon-character-skiing-downhill-by-toons4biz.jpg" />
<img src="http://imageenvision.com/450/25821-clip-art-graphic-of-a-strawberry-ice-cream-cone-cartoon-character-playing-ice-hockey-by-toons4biz.jpg" />
<img src="icecream1.png"/>

			
			
  <%= yield %>
</body>

</html>