
<form action="/flavors/new" method="link">
<input type="submit" value="create flavor"/>
</form>
<ul>
  <% @flavors.each do |flavor| %>
    <li>
    	<a href="/flavors/<%= flavor.id	%>"><%= flavor.name %></a>
    </li>
  <% end %>
</ul>
		