
<form action="/flavors/new" method="get">
password:<input type="password" value="pass">
</form>
<ul>
  <% @flavors.each do |flavor| %>
    <li>
    	<a href="/flavors/<%= flavor.id	%>"><%= flavor.name %></a>
    </li>
  <% end %>
</ul>
		