<form action='/flavors' method='POST'>
 Flavor Name: <input type='text' name='flavor[name]'/> <br/>
 Cost: <input type='text' name='flavor[cost]'/> <br/>
   <select name="flavor[order.id]">
    <% @orders.each do |order| %>
      <option value="<%= order.id %>"<%= order.id %> </option>
    <% end %>
  </select>
  <br/>
  <input type='submit' value='Create Flavor'/>
</form>