
<form action="/toppings/new" method="link">
<input type="submit" value="create topping"/>
</form>
<ul>
  <% @toppings.each do |topping| %>
    <li>
    	<a href="/admin/toppings/<%= topping.id	%>"><%= topping.name %></a>
    </li>
  <% end %>
</ul>
		