<form action='/toppings' method='POST'>
Topping Name: <input type='text' name='topping[name]'/> <br/>
 Cost: <input type='text' name='topping[cost]'/> <br/>
 
  <br/>
  <input type='submit' value='Create Topping'/>
</form>