*{
margin-left: 250px;
margin-top: 60px;
}
input[type=submit]{
border: 1px solid #000;
background-color: #3377ff;
}
input[type=submit]:hover{
border: 1px solid #000;
background-color:#00f;
}
input[type=text]{
border: 1px solid #000;
background-color:#3399ff;
}