*{

font:  bold 20px arial, sans-serif;
}
input[type=submit]{
border: 1px solid #000;
background-color: #3377FF;
margin-left: 250px;
margin-top: 60px;
}
input[type=submit]:hover{
border: 1px solid #000;
background-color:#00F;
margin-left: 250px;
margin-top: 60px;
}
input[type=text]{
border: 2px solid #000;
background-color:#3399FF;
margin-left: 250px;
margin-top: 60px;
}
li{
color: #00F;
}
p{
color:#3366FF;
}
body{
background-color:#BBFFFF;
}