<form action='/orders' method='POST'>
 First Name: <input type='text' name='order[first_name]'/> <br/>
 <br/>
  Toppings: 
    <% @toppings.each do |topping| %>
 <input type='checkbox' name='topping[used]'/>
    <% end %>
<br/>
  <input type='submit' value='Create Order'/>
</form>