<body>
<form action='/orders' method='POST'>
 
 First Name: <input type='text' name='order[first_name]'/> 
 <span class='errors'><%= @order.errors[:first_name][0] %></span><br/>

  <input type='submit' value='Create Order'/>
</form>
</body>