First Name: <%= @order.first_name %>
<h2>Flavors:</h2>
<a href="http://localhost:5000/orderflavors/new">Add a flavor</a>
<ul>
  <% order.flavors.each do |flavor| %>
    <li><%= flavor.name %></li>
  <% end %>
</ul>
<h2>Toppings:</h2>
<a href="http://localhost:5000/ordertoppings/new">Add a topping</a>
<ul>
  <% order.toppings.each do |topping| %>
    <li><%= topping.name %></li>
  <% end %>
</ul>

