<body>
<p>First Name: <%= @order.first_name %> </p>
<h3>Flavors:</h3>
<form action="/orderflavors/new" method="link">
<input type="submit" value="Add a flavor">
</form>
<ul>
  <% order.flavors.each do |flavor| %>
    <li><%= flavor.name %> </li>
  <% end %>
</ul>
<h3>Toppings:</h3>
<form action="/ordertoppings/new" method="link">
<input type="submit" value="Add a topping">
</form>
<ul>
  <% order.toppings.each do |topping| %>
    <li><%= topping.name %> </li>
  <% end %>
</ul>
</body>

