<form action='/customers' method='POST'>
 First Name: <input type='text' name='flavor[fname]'/> <br/>
 Last Name: <input type='text' name='flavor[lname]'/> <br/>
  <input type='submit' value='Create Customer'/>
</form>